@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* header section starts*/

.header {
  height: 809px;
  background-image: url(/banner/banner2.png);
  background-repeat: no-repeat;
  text-align: right;
  padding-right: 150px;
}

.header .header-title {
  padding-top: 250px;
  padding-left: 800px;

  font-size: 45px;
  color: #000;
}

.header .header-para {
  padding-top: 20px;
  padding-left: 700px;

  font-size: 15px;
  color: #444343;
  margin-bottom: 20px;
}

.header .btn-primary {
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #f15b22;
  color: #fff;
  border: none;
  font-weight: 600;
}

/* header section ends*/

/* <!-- header section starts --> */

.failures {
  display: flex;
  padding-top: 30px;
  padding-left: 150px;
  padding-right: 150px;
}

.failures .box {
  padding: 250px 50px;
  text-align: left;
}

.failures .box .failures-title {
  font-size: 40px;
  padding-bottom: 30px;
  text-align: left;
  color: #000;
}

.failures .box .failures-para {
  font-size: 17px;
  padding-bottom: 20px;
  text-align: left;
  color: #444343;
}

.failures .box .failures-points {
  padding-left: 50px;
  text-align: left;
  color: #444343;
}

.failures .failures-points {
  list-style: none;
  margin-left: -50px;
}

.failures .failures-points .list {
  display: flex;
  font-size: 15px;
  color: #444343;
  padding-bottom: 5px;
}

.failures .points {
  height: 15px;
  width: 15px;
  margin-right: 5px;
}

/* <!-- failures section starts --> */

/* <!-- plan section starts --> */

.main-plan {
  margin-top: -80px;
  padding: 10px 150px;
}

.main-plan .plan-title {
  font-size: 40px;
  text-align: center;
  color: #000;
}

.main-plan .plans {
  display: flex;
  padding-top: 35px;
  gap: 10px;
}
/* box-1 starts */

.main-plan .plans .box-1 {
  text-align: center;
  background-color: #4f9da61a;
  padding: 0 20px;
  border-radius: 10px;
}

.main-plan .plans .box-1 img {
  margin-top: 30px;
  padding-bottom: 25px;
}

.main-plan .plans .box-1 .plans-title {
  font-size: 25px;
  color: #000;
  padding-bottom: 20px;
}

.main-plan .plans .box-1 .plans-para {
  font-size: 15px;
  color: #444343;
  padding-bottom: 30px;
}

/* box-1 end */
/* box-2 starts */

.main-plan .plans .box-2 {
  text-align: center;
  background-color: #4f9da61a;
  padding: 0 20px;
  border-radius: 10px;
}

.main-plan .plans .box-2 img {
  padding-bottom: 25px;
  margin-top: 30px;
}

.main-plan .plans .box-2 .plans-title {
  font-size: 25px;
  color: #000;
  padding-bottom: 20px;
}

.main-plan .plans .box-2 .plans-para {
  font-size: 15px;
  color: #444343;
  padding-bottom: 30px;
}

/* box-2 end */
/* box-3 starts */

.main-plan .plans .box-3 {
  text-align: center;
  background-color: #4f9da61a;
  padding: 0 20px;
  border-radius: 10px;
}

.main-plan .plans .box-3 img {
  padding-bottom: 25px;
  margin-top: 30px;
}

.main-plan .plans .box-3 .plans-title {
  font-size: 25px;
  color: #000;
  padding-bottom: 20px;
}

.main-plan .plans .box-3 .plans-para {
  font-size: 15px;
  color: #444343;
  padding-bottom: 30px;
}

/* box-3 end */
/* box-4 starts */

.main-plan .plans .box-4 {
  text-align: center;
  background-color: #4f9da61a;
  padding: 0 20px;
  border-radius: 10px;
}

.main-plan .plans .box-4 img {
  padding-bottom: 25px;
  margin-top: 30px;
}

.main-plan .plans .box-4 .plans-title {
  font-size: 25px;
  color: #000;
  padding-bottom: 20px;
  text-align: center;
}

.main-plan .plans .box-4 .plans-para {
  font-size: 15px;
  color: #444343;
  padding-bottom: 30px;
}

/* box-4 end */

/* <!-- plan section ends --> */

/* gradient section starts */

.gradient {
  padding: 50px 150px;
  width: 85%;
  margin: 0 auto;
}

.gradient .gradient-title {
  background-image: linear-gradient(90deg, #f15b22 -10%, #f15d2200 100%),
    url("images/watch.png");
  background-repeat: no-repeat;
  border-radius: 8px;
  padding: 30px 50px;
  margin-bottom: 50px;
  background-position: center;
  background-size: cover;
}

.gradient .gradient-title .header-title {
  font-weight: 700;
  font-size: 40px;
  color: #fff;
  max-width: 450px;
  margin-bottom: 24px;
}

.gradient .gradient-title .btn-primary {
  color: #f15b22;
  font-size: 15px;
  border: 0;
  margin-right: 200px;
  padding: 10px 20px;
  background-color: #ffffff;
  border-radius: 5px;
  font-weight: 600;
}

/* gradient section end */

/* footer section starts */

.footer {
  display: flex;
  padding: 50px 150px;
  background-color: #151414;
  margin-top: -40px;
}

.footer .footer-title {
  padding-top: 30px;
  padding-right: 300px;
  color: #fff;
}

.footer .footer-title .header-title {
  font-size: 30px;
  padding-bottom: 20px;
}

.footer .footer-title .footer-para {
  font-size: 15px;
  padding-bottom: 15px;
}

.footer .footer-title .email {
  font-size: 15px;
  padding-bottom: 5px;
}

.footer .footer-title .phone {
  font-size: 15px;
  padding-bottom: 20px;
}

.footer .footer-title .icon img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.footer .box {
  padding-top: 30px;
  color: #fff;
  padding-right: 80px;
}

.footer .box .box-title {
  font-size: 30px;
  padding-bottom: 20px;
}

.footer .box input {
  padding: 10px 20px;
  color: #fff;
  background-color: #151414;
  border-radius: 5px;
  margin-bottom: 20px;
  border-color: #fff;
}

.footer .box .btn-primary {
  font-size: 15px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #fff;
  color: #f15b22;
  border: none;
}

/* footer section ends */
